.assignment-container {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap: 3rem;
    overflow-x: auto;
    padding: 20px 20px;
    /* width: calc(100%-25px); */
    margin-top: 5px;
    margin-bottom: 5px;
}

.assignment-card {
    font-family: "Rubik", sans-serif;
    width: auto;
    /* min-width: 200px; */
    height: auto;
    background-color: rgba(32, 32, 32, 0.094);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px rgba(11, 11, 11, 0.1);
    padding: 25px;
    border-radius: 10px;
}

.category-container {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    overflow-x: auto;
    overflow-y: scroll; */

    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap: 3rem;
    overflow-x: auto;
    padding: 20px 20px;
    /* width: calc(100%-25px); */
    margin-top: 5px;
    margin-bottom: 5px;
}


.category-card {
    font-family: "Rubik", sans-serif;
    width: auto;
    /* min-width: 200px; */
    height: auto;
    background-color: rgba(32, 32, 32, 0.094);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px rgba(11, 11, 11, 0.1);
    padding: 25px;
    border-radius: 10px;
    
}

.subtitle {
    padding-bottom: 0;
    color: rgb(89, 89, 89)
}

.data-values {
    font-weight: bold;
    font-size: 1.5rem;
}

.data-values:hover {
    font-size:2rem;
}

hr {
    width: 60%;
    height: 1px;
    background-color: white;
    border: 0;
    margin-top:5px;
}

.remove-button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.remove-button {
    display:flex;
    justify-content: center;
    background: rgba(144, 144, 144, 0.9);
    backdrop-filter: blur(20px);
    width: 35px;
    height: 35px;
    padding-top: 4px;
    border-radius: 10px;
    border: 0;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.remove-button:hover {
    background-color: rgba(116, 116, 116, 0.9);
    box-shadow: 0px 0px 0px 0px ;
}

.icons {
    margin-right: 5px;
  }